.hljs {
  border: 0;
  font-family: "Consulas", "Courier New", Courier, mono, serif;
  font-size: 12px;
  background-color: #282c34 !important;
  display: block;
  padding: 1px;
  margin: 0;
  width: 100%;
  font-weight: 200;
  color: #abb2bf !important;
  white-space: pre-wrap
}
.hljs ul {
  list-style: decimal;
  margin: 0px 0px 0 40px !important;
  padding: 0px;
}
.hljs ul li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #666666 !important;
  padding: 5px!important;
  margin: 0 !important;
  line-height: 14px;
  word-break: break-all;
  word-wrap: break-word;
}

